<!--Eat-Da-Burger! is a restaurant app that lets users input the names of burgers they'd like to eat.

* Whenever a user submits a burger's name, your app will display the burger on the left side of the page -- waiting to be devoured.

* Each burger in the waiting area also has a `Devour it!` button. When the user clicks it, the burger will move to the right side of the page.

* Your app will store every burger in a database, whether devoured or not.

* [Check out this video of the app for a run-through of how it works](https://youtu.be/msvdn95x9OM).-->
<div class="container">
  <div class="header">

		<div class="headerRow"><img src="assets/img/burger.png" alt="Burger Icon"></div>
		<div class="headerRow"><h1>Eat Da Burger!</h1></div>
	</div>
		<br>
		<p>Temp Add Burger option1</p>
		<p>Enter a burger you want to eat and click the "Submit" Button</p>

	<div id="burgerLoop">
	<!--cycle through burgers in database-->
  			{{#each burger}}
    		{{#unless this.devoured}}
				<div>
				<pre> {{this.id}}.{{this.name}}</pre>
				</div>

<!-- devour burgers -->
	<div>
			<form method="POST" action=/burgers/update?_method=PUT">
				<input type="hidden" name="id" type="text" value={{this.id}}>
				<button type="submit" class= "btn btn-success">Devour it</button>
			</form>
	</div>
	{{/unless}}
	{{/each}}
	</div>

</div> <!-- container closing div -->

<!-- Add data to burgers_db -->

<div class="container">
	<div class="formButton">
		<form action="/burgers/create" method="POST">
              <input type="text" name="name" class="form-control" value="" id="enterText">
							<br>
              <button type="submit" class="btn btn-warning" id="textEnterButton">SUBMIT</button>
    </form>

	</div>
</div>

<!-- Pass in data from server.js -->

<h2>Burgers to Eat</h2>
<!--fix css to loose center and br if using below-->
<br>
{{#each burgers}}
	
		<p>
			{{this.id}}. {{this.name}}

			<button data-burgerid="{{this.id}}" class="delBurger">Delete</button>
		</p>
	
{{/each}}

<!-- add code to add burger ???-->
<!--fix css to loose center and br if using below-->
<center>
<br>
<p> Temp Add Burger option2</p>
<h2>Add a Burger to Eat</h2>
<br>
<form id="addburger" class="button-size">
<input type="text" name="burger"></textarea>
<br><br>
<button type="submit" class="btn btn-warning" id="textEnterButton">SUBMIT</button>
</form>
<br>
</center>

<script type="text/javascript">
$(".delburger").on("click", function(event) {
	var id = $(this).data("burgerid");

	// Send the DELETE request.
	$.ajax("/burgers/" + id, {
		type: "DELETE"
	}).then(
		function() {
			console.log("deleted id ", id);
			// Reload the page to get the updated list
			location.reload();
		}
	);
});

$("#addburger").on("submit", function(event) {
	// Make sure to preventDefault on a submit event.
	event.preventDefault();

	var newBurger = {
		burger: $("#addburger [name=burger]").val().trim()
	};

	// Send the POST request.
	$.ajax("/burgers", {
		type: "POST",
		data: newBurger
	}).then(
		function() {
			console.log("added new burger");
			// Reload the page to get the updated list
			location.reload();
		}
	);
});

$("#updateburger").on("submit", function(event) {
	// Make sure to preventDefault on a submit event.
	event.preventDefault();

	var id = $("[name=id]").val().trim();

	var updatedBurger = {
		movie: $("#updateburger [name=burger]").val().trim()
	};

	// Send the PUT request.
	$.ajax("/burgers/" + id, {
		type: "PUT",
		data: updatedBurger
	}).then(
		function() {
			console.log("updated id ", id);
			// Reload the page to get the updated list
			location.reload();
		}
	);
});
</script>

